.famous-people__title {
  text-align: center;
  width: 18rem;
  margin-bottom: 0.5rem;
}

.famous-people__details {
  background-color: white;
  margin: 2.5rem;
}

li {
  list-style: none;
}

span {
  font-weight: bold;
}

.form-details {
  background-color: blue;
}
