.famous-person__display {
  display: inline-flex;
  margin-left: 300px;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;

}




.form-detail input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid blue;
  width: 20rem;
  max-width: 100%;

}

.form-details button {
  margin-left: 130px;

}
